# Django
SECRET_KEY=CHA34r34rN3rG3ErM34rE3!4r34r!!
DEBUG=True
# ru-ru or en-us
LANGUAGE_CODE=ru-ru
TIME_ZONE=Asia/Novokuznetsk

#PosgresSQL
POSTGRES_DB=postgres
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser
POSTGRES_HOST=postgres

AUK_TOKEN=fjslejflisjfls8w

MT_MYSQL_DB=mtdb
MT_MYSQL_PASSWORD=mysecretpass
MT_MYSQL_USER=mysqluser
MT_MYSQL_HOST=mysql

# Period in minutes
AUK_PLATFORM_PERIOD=5
AUK_CONTAINER_PERIOD=5
MT_PERIOD=3

FIRST_RUN_DAYS=30
ENABLE_MT_SYNC=False
